body {
    font-family: Arial, sans-serif;
    background-color: #Dfd0c0;
    background-image: url('Students/Logo/STEM_Background.png');
}
.content-box {
    width: 80%;
    margin: 0 auto;
    background-color: #650000;
    border: 2px solid #ccc;
    border-radius: 10px;
    display: flex;
    align-items: flex-start;
}
.content-box  a {
    cursor: pointer;
}
.content-box-text {
    width: 80%;
    margin: 0 auto;
    background-color: #650000;
    border: 2px solid #ccc;
    border-radius: 10px;
    display: flex;
}
.content-box-text p {
  margin-left: 20px;
}
.image-container {
    flex: 0;
    padding: 20px;
}

.image-container-image {
    flex: 1;
    padding:10px;
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
}

.image-container img {
    width: auto;
    height: 200px;
    border-radius: 10px;
    cursor: pointer;

}
.image-container-image img {
    max-width: 100%;
    height: auto;
    border-radius: 10px;
    height:100px;
    overflow: hidden;
    margin: 3px;
    cursor: pointer;
}
.image-container-image img:hover {
    transform: scale(0.9);
}
.text-content {
    flex: 1;
    padding: 20px;
    color:white;
}
.text-content-text {
    flex: 1;
    padding: 20px;
    color:white;
}
.text-content p {
    margin-bottom: 0px;
}
.back-text {
    justify-content: center;
    text-align: center;
}
.back {
    position: fixed;
    top: 10px;
    right: 10px;
    font-size: 18px;
    background-color: #cccccc79;
    padding: 10px;
    cursor: pointer;
    border-radius: 50%;
    width: 30px; 
    height: 30px;
    text-align: center; 
    line-height: 30px;
}
.quotes {
    font-family: cursive;
    font-size: 30px;
    font-weight: 900;
    background: linear-gradient(45deg, #FF8EEAEB, #8DB7DD, #80D581);
    background-clip: text;
    -webkit-background-clip: text;
    color: transparent;

}
p {
    color:white;
}
b {
    color: #A29316;
}
p a {
    color:white;
    text-decoration: none;
} 
.popup {
    position: fixed;
    top: 0; ; left: 0;
    background: rgba(0,0,0,.9);
    height: 100%;
    width: 100%;
    z-index: 100;
    display: none;
}
.popup span {
    position: absolute;
    top: 0; right: 10px;
    font-size: 60px;
    font-weight: bolder;
    color: #FFFFFF;
    cursor: pointer;
    z-index: 100;
}
.popup img {
    position: absolute;
    top: 50%; left: 50%;
    transform: translate(-50%, -50%);
    height: 95%;
    object-fit: cover;
}
@media (max-height: 1500px) {
    .popup img {
      height: 95%;
      width: auto;
    }
  }
@media (max-width: 1000px) {
    .popup img {
        height: auto;
        width: 95%;
    }
}
@media (max-width: 600px) {
    .image-container img {
        display: none;
    }
}
.word-box {
    position: fixed;
    top: 0; ; left: 0;
    background: rgba(0,0,0,.9);
    height: 100%;
    width: 100%;
    z-index: 100;
    display: none;
}
.myBox {
    display: none;
    width: 70%;
    max-height: 50vh;
    overflow: auto;
    color: white;
    border-radius: 10px;
    background-color: #650000dc;
    border: 1px solid goldenrod;
    padding: 10px;
    position: fixed;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    text-align: justify;
}
.myBox b {
    justify-content: center;
    display: flex;
}
.closeBtn {
    position: absolute;
    right: 10px;
    top: 10px;
    cursor: pointer;
}