body {
    background-color: #e07272;
    font-family: 'Times New Roman', Times, serif;
    background-image: url('Students/Logo/STEM_Background.png');
}
@font-face {
  font-family: "Raleway";
  src: url(../Raleway-Black.ttf);
}
:root {
  scroll-behavior: smooth;
}
.navbar {
  display: flex;
  flex-wrap: wrap;
  align-items: center;
  justify-content: space-between;
  background-color: darkred;
  padding: 20px;
  box-shadow: 0 0 15px black;
}
.navbar a {
  text-decoration: none;
  color: gold;
  justify-content: center;
}
.logo {
  margin-right:50px;
}
.navbar img{
  height: 50px;
  width: 50px;
  align-items: center;
}
.list {
  list-style: none;
  display: flex;
  pointer-events: none;
  gap: 10px;
  justify-content: right;
}
.list *{
  transition: 0.2s
}
.list > * {
  pointer-events: auto;
}
.list:hover > *:hover {
  opacity: 1;
}
#toggler, .navbar label {
  display: none;
  color: #FFFFFF;
}

#btn {
  cursor: pointer;
}
@media (max-width: 600px) {
  .menu {
    width: 100%;
    max-height: 0;
    overflow: hidden;
  }
  .list {
    flex-direction: column;
    align-items: center;
    padding: 20px;
  }
  .navbar label {
    display: inline-flex;
    align-items: center;
    cursor: pointer;
  }
  #toggler:checked ~ .menu {
    max-height: 100%;
  }
}
#Title {
    text-align: center;
    color: #FFB3B3;
    text-shadow: 3px 3px 4px rgb(0, 0, 0); 
    width: 100%;
    background-color: darkred;
    font-size: 40px;
}
#Title a {
  color: #FFB3B3;
  margin: 0;
}
.container {
    display: flex;
    gap: 1rem;
    justify-content: center;
    width: 90%;
    margin: 1rem auto 0 auto;
    flex-wrap: wrap;
}
.container img {
  height: 200px;
  width: 100%;
  border-radius: 10px;
}
.image-container1{
    width: 170px;
    background-color: darkred;
    border-radius: 10px;
    text-align: center;
    height: 250px;
}

.image-container-image video {
  height: auto;
  border-radius: 10px;
  height:200px;
  overflow: hidden;
  cursor: pointer;
  margin: 3px;
}
.image-container-image {
  flex: 2;
  padding:20px;
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
}
.image-container-image img {
  height: auto;
  border-radius: 10px;
  height:150px;
  overflow: hidden;
  cursor: pointer;
  margin: 3px;
}
.image-container-image img:hover {
  transform: scale(0.9);
}

.content-box-about {
  width: 85%;
  margin: 0 auto;
  background-color: #0000008b;
  padding: 20px;
  color: white;
}
.content-box {
  width: 90%;
  margin: 0 auto;
  background-color: #650B0BDB;
  border: 2px solid #ccc;
  border-radius: 10px;
}

.popup {
  position: fixed;
  top: 0; ; left: 0;
  background: rgba(0,0,0,.9);
  height: 100%;
  width: 100%;
  z-index: 100;
  display: none;
}
.popup span {
  position: absolute;
  top: 0; right: 10px;
  font-size: 60px;
  font-weight: bolder;
  color: #FFFFFF;
  cursor: pointer;
  z-index: 100;
}
.popup img {
  position: absolute;
  top: 50%; left: 50%;
  transform: translate(-50%, -50%);
  height: 95%;
  object-fit: cover;
}
@media (max-height: 1500px) {
  .popup img {
    height: 95%;
    width: auto;
  }
}
@media (max-width: 1000px) {
  .popup img {
    height: auto;
    width: 95%;
  }
}

a {
    text-decoration: none;
    margin: 10px;
    transition: transform 0.3s ease;
}
a:hover {
    transform: scale(0.9);
}

.paragraph {
    color: rgb(255, 255, 255);
    background-color:darkgoldenrod;
    text-align: center;
    border: solid darkgoldenrod;
    font-size: 12px;
    border-radius: 5px
}
#GenderB {
    font-size: 40px;
    border: solid;
    text-align: center;
    background-color: darkred;
    color:white;
}
#GenderG {
    font-size: 40px;
    border: solid;
    text-align: center;
    background-color: darkred;
    color:white;
}
#Teacher {
    font-size: 40px;
    border: solid;
    text-align: center;
    background-color: darkred;
    color:#ffffff;
    font-family: 'Times New Roman', Times, serif;
}
#Video {
  font-size: 40px;
  border: solid;
  text-align: center;
  background-color: darkred;
  color:white;
}
#Album {
  font-size: 40px;
  border: solid;
  text-align: center;
  background-color: darkred;
  color:white;
}
#About {
  font-size: 40px;
  border: solid;
  text-align: center;
  background-color: darkred;
  color:white;
}

#center {
  text-align: center;
}