body {
    background-color: #Dfd0c0;

    font-family: 'Times New Roman', Times, serif;
    background-image: url('Students/Logo/STEM_Background.png');
}
:root {
  scroll-behavior: smooth;
}
.navbar {
  display: flex;
  flex-wrap: wrap;
  align-items: center;
  justify-content: space-between;
  background-color: #650000;
  padding: 20px;
  box-shadow: 0 0 15px black;
}
.navbar a {
  text-decoration: none;
  color:  goldenrod;
  justify-content: center;
}
.logo {
  margin-left:70px;
}
.navbar img{
  height: 65px;
  width: 65px;
  flex: 0;
  position: absolute;
  border-radius: 50%;
}
.list {
  list-style: none;
  display: flex;
  pointer-events: none;
  gap: 10px;
  justify-content: right;
  margin-left: 20px;
}
.list *{
  transition: 0.2s
}
.list > * {
  pointer-events: auto;
}
.list:hover > *:hover {
  opacity: 1;
}
#toggler, .navbar label {
  display: none;
  color: #FFFFFF;
}

.btn {
  cursor: pointer;
}
.btnA {
  cursor: pointer;
}
@media (max-width: 600px) {
  .menu {
    width: 100%;
    max-height: 0;
    overflow: hidden;
    display: none;
  }
  .list {
    flex-direction: column;
    align-items: center;
    padding: 20px;
  }
  .navbar label {
    display: inline-flex;
    align-items: center;
    cursor: pointer;
  }
  #toggler:checked ~ .menu {
    max-height: 100%;
  }
}
#Title {
    text-align: center;
    color: #FFB3B3;
    text-shadow: 3px 3px 4px rgb(0, 0, 0); 
    width: 100%;
    background-color: #650000;
    font-size: 40px;
}
#Title a {
  color: goldenrod;
  margin: 0;
}
.container {
    display: flex;
    gap: 1rem;
    justify-content: center;
    width: 90%;
    margin: 1rem auto 0 auto;
    flex-wrap: wrap;
}
.container img {
  height: 200px;
  width: 100%;
  border-radius: 10px;
}
.image-container1{
    width: 170px;
    background-color: #650000;
    border-radius: 10px;
    text-align: center;
    height: 245px;
}

.image-container-image video {
  height: auto;
  border-radius: 10px;
  height:150px;
  overflow: hidden;
  cursor: pointer;
  margin: 3px;
}
.image-container-image {
  flex: 2;
  padding:10px;
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
}
.image-container-image img {
  height: auto;
  border-radius: 10px;
  height:100px;
  overflow: hidden;
  cursor: pointer;
  margin: 3px;
}
.image-container-image img:hover {
  transform: scale(0.9);
}

.content-box-about {
  width: 85%;
  margin: 0 auto;
  background-color: #0000008b;
  padding: 20px;
  color: white;
}
.content-box {
  width: 90%;
  margin: 0 auto;
  background-color: #650B0BDB;
  border: 2px solid #ccc;
  border-radius: 10px;
  height: 500px;
  overflow: scroll;
} 

.popup {
  position: fixed;
  top: 0; ; left: 0;
  background: rgba(0,0,0,.9);
  height: 100%;
  width: 100%;
  z-index: 100;
  display: none;
}
.popup span {
  position: absolute;
  top: 0; right: 10px;
  font-size: 60px;
  font-weight: bolder;
  color: #FFFFFF;
  cursor: pointer;
  z-index: 100;
}
.popup img {
  position: absolute;
  top: 50%; left: 50%;
  transform: translate(-50%, -50%);
  height: 95%;
  object-fit: cover;
}
@media (max-height: 1500px) {
  .popup img {
    height: 95%;
    width: auto;
  }
}
@media (max-width: 1000px) {
  .popup img {
    height: auto;
    width: 95%;
  }
  .navbar img{
    height: 40px;
    width: 40px;
  }
}

a {
    text-decoration: none;
    margin: 10px;
    transition: transform 0.3s ease;
}
a:hover {
    transform: scale(0.9);
}

.paragraph {
    color: rgb(255, 255, 255);
    background-color:darkgoldenrod;
    text-align: center;
    border: solid darkgoldenrod;
    font-size: 12px;
    border-radius: 5px;
    position: relative;
    top: -10px;
}
#GenderB {
    font-size: 40px;
    border: solid;
    text-align: center;
    background-color: #650000;
    color:white;
}
#GenderG {
    font-size: 40px;
    border: solid;
    text-align: center;
    background-color: #650000;
    color:white;
}
#Teacher {
    font-size: 40px;
    border: solid;
    text-align: center;
    background-color: #650000;
    color:#ffffff;
    font-family: 'Times New Roman', Times, serif;
}
#Video {
  font-size: 40px;
  border: solid;
  text-align: center;
  background-color: #650000;
  color:white;
  cursor: pointer;
}
.myVideo::-webkit-media-controls {
  visibility: hidden;
}

.myVideo:hover::-webkit-media-controls {
  visibility: visible;
}
.word-box {
  position: fixed;
  top: 0; ; left: 0;
  background: rgba(0,0,0,.8);
  height: 100%;
  width: 100%;
  z-index: 100;
  display: none;
}
.myBox {
  display: none;
  width: 70%;
  max-height: 50vh;
  overflow: auto;
  color: white;
  border-radius: 10px;
  background-color: #650000dc;
  border: 1px solid whitesmoke;
  padding: 10px;
  position: fixed;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  text-align: justify;
}
.myBox b {
  justify-content: center;
  display: flex;
  color: goldenrod;
  font-size: 110%;
  font-family: 'Times New Roman', Times, serif;
}
.myBox p {
  font-family: Arial, Helvetica, sans-serif;
}
.closeBtn {
  position: absolute;
  right: 10px;
  top: 10px;
  cursor: pointer;
  font-family: Arial, Helvetica, sans-serif;
}
#Album {
  font-size: 40px;
  border: solid;
  text-align: center;
  background-color: #650000;
  color:white;
  cursor: pointer;
}
.showImages {
  display: none;
  width: 40%;
  overflow: auto;
  color: white;
  border-radius: 10px;
  background-color: #650000dc;
  border: 1px solid goldenrod;
  padding: 10px;
  position: fixed;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  text-align: center;
  font-size: 25px;
}
.showImages p {
  cursor: pointer;
}
.darkImage {
  position: fixed;
  top: 0; ; left: 0;
  background: rgba(0,0,0,.8);
  height: 100%;
  width: 100%;
  z-index: 100;
  display: none;
}
.album {
  display: none;
}
#About {
  font-size: 40px;
  border: solid;
  text-align: center;
  background-color: #650000;
  color:white;
}

#center {
  text-align: center;
}
